.catalogo-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 600;
    margin: 3rem;
}


.comic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 2rem;
}

// .product-card {
//     width: 12rem;
//     text-align: center;
//     margin: 1.5rem 1rem;
//     background-color: rgba(197, 197, 197, 0.048);
//     padding: 1rem 0.5rem;
//     border-radius: 0.6rem;

//     .img-div img {
//         width: 9rem;
//         object-fit: fill;
//         border: 0.1rem solid gray;
//     }

//     h4 {
//         margin: 0.3rem;
//         font-size: 1rem;
//         font-weight: 600;
//         text-transform: uppercase;
//     }
    
//     p {
//         font-size: 0.9rem;
//         margin: 0.2rem 0;
//     }

//     a {
//         text-decoration: none;
//         background-color: #2962ff;
//         color: white;
//         padding: 0.35rem 0.4rem;
//         border-radius: 4px;
//         transition: all 0.3s ease;
//         font-size: 0.8rem;

//         &:hover {
//             background-color: darken(#2962ff, 10%);
//             color: rgb(238, 238, 238);
//         }
//     }
// }