.current-container {
    text-align: center;
    
    h2 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    .user {
        padding: 1rem;
        color: black;
        max-width: 26rem;
        margin: 2rem auto;

        p {
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        img {
            margin: 0 auto;
            max-width: 2.6rem;
            opacity: 95%;
        }
    }
    
}

.checkout-container {
    text-align: center;

    h2 {
        margin-top: 2rem;
        font-size: 2.5rem;
        font-weight: 700;
    }

    p {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .container {
        max-width: 26rem;
        margin-top: 2rem;
    }


    small {
            font-size: 0.9rem;
            color: white;
            display: flex;    
            justify-content: center;    align-items: center;
            margin-top: -0.3rem;
            color: indianred;

            i {
                margin-right: 0.3rem;
            }
    }
}