footer {
    margin-top: 5rem;
    width: 100vw;
    overflow-x: hidden;
    background-color: orange;
    padding: 1rem 5rem;

    small {
        color: black;
        font-size: 0.9rem;
        
        span {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}