* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between; align-items: center;
    background-color: #F2B705;
    color: white;
    margin-bottom: 2.5rem;
}

.brand {
    padding-left: 5rem;
}

.brand {
    display: flex;
    align-items: center;
}

.brand .logo {
    width: 3.8rem;
}

.brand a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 0.6rem;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    padding-right: 5rem;
}

nav ul li {
    padding-top: 1rem;
    text-decoration: none;
}


nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.App {
    min-height: 100vh;
}

.novedades-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    margin: 3rem;
}


.comic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 2rem;
}

.comic-card {
    width: 12rem;
    text-align: center;
    margin: 1.3rem 1rem;
}

.img-div img {
    width: 10rem;
    height: 15rem;
    object-fit: fill;
    border: 0.1rem solid gray;
}

.comic-card h5 {
    margin: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.comic-card p {
    margin: 0;
}

footer {
    margin-top: 30rem;
    width: 100%;
    background-color: #F2B705;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem 2rem;
}

footer small {
    color: black;
    font-weight: 600;
}